BOT_NAME=Fuuka
BOT_NUMBER=6281234567890
PORT=3000
PREFIX=!
ALLOWED_GROUPS=120363412345678901@g.us,120363499999999@g.us
ENABLED_COMMANDS=fuuka,stiker,gambar,audio,intro
GROUP_COMMAND_RULES=120363400608920219@g.us=stiker,gambar,audio,intro
WHATSAPP_KEEP_ALIVE_MS=10000
WHATSAPP_CONNECT_TIMEOUT_MS=60000
WHATSAPP_DEFAULT_QUERY_TIMEOUT_MS=60000
TEMP_CLEANUP_ENABLED=true
TEMP_CLEANUP_INTERVAL_MS=86400000
TEMP_CLEANUP_MAX_AGE_MS=7200000
TEMP_CLEANUP_STARTUP_DELAY_MS=60000
YOUTUBE_COOKIES_JSON=
YOUTUBE_COOKIES_PATH=
AUDIO_MAX_SECONDS=600
AUDIO_MAX_DOWNLOAD_SIZE=15M
AUDIO_BITRATE=96K
AUDIO_CONCURRENT_JOBS=1
